  <div fxLayout="column" fxLayoutAlign="space-between none">
        <mat-card fxLayout="row">
          <div>
            <mat-form-field class="example-full-width" appearance="fill" style="border-radius: 10px; width: 250px;">
                <mat-label>{{selecioneMultivitaminicoLabel}}</mat-label>
                <input type="text"
                        placeholder="Selecione"
                        aria-label="Multivitamínico"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto" >
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="chooseMulti($event)">
                  <mat-option *ngFor="let multi of filteredMulti | async" [value]="multi.nome" >
                    {{multi.nome}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <img *ngIf="multi1 != null" class="img-mult" src="{{multi1.pathToImg}}"><br><br>
            <div *ngIf="multi1 != null">
              <p>Tamanho do comprimido {{multi1.tamanho}} g</p>
              <p>Quantidade de Capsulas: {{multi1.capsulas}}</p>
              <div *ngFor="let nutriente of multi1.nutrientes; index as i;" fxLayout="row">{{multi1.nutrientes[i].label}}: {{multi1.nutrientes[i].valor}} {{multi1.nutrientes[i].unidadeDeMedida}}
                <div *ngIf="otherMulti != null">
                  <div style="{{otherMulti.nutrientes[i].percentCompareColor}}">&nbsp;{{otherMulti.nutrientes[i].percentCompareString}}</div>
                </div>
              </div> 
            </div>
          </div>  
        </mat-card>
  </div>
